.grid {
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 1%;
}

.gridwrapper {
    border: 5px solid white;
}

.inputs {
    display: grid;
    justify-content: center;
}

.inputs>* {
    padding: 5px;
}

.buttons {
    display: grid;
    justify-content: center;
    padding: 15px;
}

.buttons>* {
    padding: 10px 20px;
    border: 5px solid white;
    border-radius: 8px;
}

.start {
    padding: 10px 20px;
    margin: 5px;
}

.start:hover {
    border-color: tomato;
}

.reset {
    padding: 10px 20px;
    margin: 5px;
}

.reset:hover {
    border-color: tomato;
}



.fullscreenButton {
    position: relative;

    padding: 10px 20px;
    border: 5px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.gridDisplay {
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: 20px;
}

.row {
    display: flex;
}

.cell {
    width: 5px;
    height: 5px;
    border: 1px solid #eee;
}

.alive {
    background-color: black;
}