@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlanetFont';
  src: url('../fonts/SpaceGrotesk-Regular.ttf') format(truetype);
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overscroll-behavior: none;
  overflow: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: 'PlanetFont', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}