@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlanetFont';
  src: url('../fonts/SpaceGrotesk-Regular.ttf') format(truetype);
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
  --body-text: 0, 0, 0;
  --logo-bg: 230, 38, 38;
  --logo-text: 0, 0, 0;
  /*black logo text*/
  --nav-menu: 0, 0, 0;
  --nav-sub: 0, 0, 0;
  --border: 0, 0, 0;
  --cta-text: 0, 0, 0;
  --cta: 0, 0, 0;
  --cta-active: 0, 0, 0;
  --btn-primary: 0, 0, 0;
  --btn-secondary: 0, 0, 0;
  --accent: 0, 0, 0;
  --cell-color: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 15, 23, 40;
    --foreground: 0, 0, 0;
    --body-text: 0, 255, 0;
    --logo-bg: 230, 38, 38;
    --logo-text: 255, 255, 255;
    /*white logo text*/
    --nav-menu: 0, 0, 0;
    --nav-sub: 0, 0, 0;
    --border: 0, 255, 0;
    --cta: 0, 0, 0;
    --cta-text: 0, 0, 0;
    --cta-active: 0, 0, 0;
    --btn-primary: 0, 0, 0;
    --btn-secondary: 0, 0, 0;
    --accent: 0, 0, 0;
    --cell-color: 0, 255, 0;
  }
}

body {
  overscroll-behavior: none;
  font-family: 'PlanetFont', sans-serif;
  color: rgba(var(--body-text));
  background-color: rgba(var(--background));
}

main {
  background-color: rgba(var(--background));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}