@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'spacefont';
  src: url('../fonts/SpaceGrotesk-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spacefont-light';
  src: url('../fonts/SpaceGrotesk-Light.ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'spacefont-bold';
  src: url('../fonts/SpaceGrotesk-Bold.ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'spacefont-semibold';
  src: url('../fonts/SpaceGrotesk-SemiBold.ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'spacefont-medium';
  src: url('../fonts/SpaceGrotesk-Medium.ttf');
  font-weight: 100 900;
  font-style: normal;
}

.light {
  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
  --body-text: 0, 0, 0;
  --logo-bg: 230, 38, 38;
  --logo-text: 0, 0, 0;
  --nav-menu: 0, 0, 0;
  --nav-sub: 0, 0, 0;
  --border: 0, 0, 0;
  --cta-text: 0, 0, 0;
  --cta: 0, 0, 0;
  --cta-active: 0, 0, 0;
  --btn-primary: 0, 0, 0;
  --btn-secondary: 0, 0, 0;
  --accent-primary: 0, 0, 0;
  --accent-secondary: 0, 0, 0;
  --cell-color: 255, 255, 255;
  --hamburgerbg: 255, 255, 255;
}

.dark {
  --background: 15, 23, 42;
  --foreground: 0, 0, 0;
  --body-text: 0, 255, 0;
  --logo-bg: 230, 38, 38;
  --logo-text: 255, 255, 255;
  --nav-menu: 0, 0, 0;
  --nav-sub: 0, 0, 0;
  --border: 0, 255, 0;
  --cta: 0, 0, 0;
  --cta-text: 0, 0, 0;
  --cta-active: 0, 0, 0;
  --btn-primary: 0, 0, 0;
  --btn-secondary: 0, 0, 0;
  --accent-primary: 71, 85, 105;
  --accent-secondary: 51, 65, 85;
  --cell-color: 0, 255, 0;
  --hamburgerbg: 0, 255, 0;
}

body {
  overscroll-behavior: none;
  font-family: 'spacefont', sans-serif;
  transition: 400ms ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}