.grid {
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 1%;
}

.gridwrapper {
    display: grid;
    justify-content: center;
}

.inputs {
    display: block;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.inputs>* {
    padding: 5px;
}

.buttons {
    display: block;
    justify-content: space-around;
}

.togglebtn {
    margin: 5px;
    padding: 10px 20px;
    border: 5px solid white;
    border-radius: 8px;
}

.togglebtn:hover {
    border-color: tomato;
}

.defaultbtn {
    margin: 5px;
    padding: 10px 20px;
    border: 5px solid white;
    border-radius: 8px;
}

.defaultbtn:hover {
    border-color: tomato;
}

.start {
    margin: 5px;
    padding: 10px 20px;
    border: 5px solid white;
    border-radius: 8px;
}

.start:hover {
    border-color: tomato;
}

.randomizebtn {
    margin: 5px;
    padding: 10px 20px;
    border: 5px solid white;
    border-radius: 8px;
}

.randomizebtn:hover {
    border-color: tomato;
}


.gridDisplay {
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: 20px;
}

/* to style the grid idk in the future  */
.row {
    display: flex;
}

.cell {
    width: 5px;
    height: 5px;
    border: 1px solid #eee;
}

.alive {
    color: black;
}