.grid {
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 1%;
}

.gridwrapper {
    display: grid;
    justify-content: center;
}

.input {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

.input>input {
    padding: 8px;
    width: 250px;
    height: 8px;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.input>input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4caf50;
    cursor: pointer;
    border-radius: 50%;
}

.input>input:hover {
    opacity: 0.8;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.buttons>button {
    margin: 5px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 8px;
}

.buttons>button:hover {
    border-color: red;
}

.gridDisplay {
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: 20px;
}

/* to style the grid idk in the future  */
.row {
    display: flex;
}